<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingge.yangsong.qingge">

    <!-- 网络相关的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 读取存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 写存储权限，OSS需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LaunchActivity"
            android:label="@string/title_activity_launch"
            android:theme="@style/AppTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Main" />

        <activity android:name=".activity.RegisterActivity" />

        <activity
            android:name=".activity.SendPostActivity"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activity.PersonalActivity"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activity.ChatUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar"
            android:windowSoftInputMode="adjustResize" />
        <!--android:windowSoftInputMode="adjustResize"  允许调整布局大小-->

        <activity
            android:name=".activity.GroupCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Group.Create" />
        <activity
            android:name=".activity.TestActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".activity.ChatGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PostActivity"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustResize" />

        <service android:name=".getuiService.DemoIntentService" />
        <service
            android:name=".getuiService.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"></service>
    </application>

</manifest>